    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        margin-top: 20px;
    }

    form {
        text-align: center;
        margin: 20px auto;
        max-width: 400px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    input[type="number"], select, button {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    hr {
        border: 0;
        border-top: 2px solid #ccc;
        margin: 20px auto;
    }

    .result {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
        color: #007BFF;
    }

